.no-habits-found {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .cartoon-image {
    width: 300px;
    height: auto;
  }
  
  .message {
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
    color: #fffbfb;
  }
  